@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


:root{
  --font-family: 'Montserrat', sans-serif;
  --base-green: #03C04A;
  --faint-green: #03c04c5b;
  --base-white: ghostwhite;
  --base-black: #000000;
  --faint-black: #00000081; 
  --box-shadow: rgba(0,0,0,0.2);

}



*{
  font-family: var(--font-family);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--base-white);
}

#root{
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--base-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* -----------------Navigation bar section--------------------------*/

.navigationbar{
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 4px var(--box-shadow);
}

.navigationbar .top-part {
  width: 100%;
  height: 30%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--faint-green);
  color: var(--base-black);
  font-size: 0.8rem;
}


.navigationbar .bottom-part{
  width: 100%;
  height: 68%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.navigationbar .bottom-part .logo-div{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--base-green);
  font-size: 1.5rem;
  font-family: var(--font-family);
  font-weight: 600;
}

.navigationbar .bottom-part .logo-div .logo-icon-div{
  margin: 0 10px;
}

.navigationbar .bottom-part .logo-div .logo-name-div{
  margin: 0 10px;
  letter-spacing: 1px;
}


.navigationbar .bottom-part .navigationbar-link-section{
  height: 100%;
  width: 40%;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.navigationbar .bottom-part .navigationbar-link-section .link{
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}



.navigationbar .bottom-part .navigationbar-link-section .link:hover{
  background-color: var(--faint-green);
  border-radius: 5px;

}


.navigationbar .bottom-part .navigation-user-name-or-login{
  width: 20%;
  height: 100%;
  padding-right: 10px; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigationbar .bottom-part .navigation-user-name-or-login .username-text{
  margin: 0 10px;
  padding-left: 5px;
  height: 50%;
  border-left: 1px solid var(--faint-black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: var(--faint-black);
}

.navigationbar .bottom-part .navigation-user-name-or-login .profile-image {
  font-size: 1.5rem;
  color: var(--base-green);
}


.navigationbar .bottom-part .navigation-user-name-or-login .sign-in-btn{
  font-size: 1rem;
  padding: 10px 15px;
  background-color: var(--base-green);
  border-radius: 20px;
  border: none;
  transition: 0.5s;
}

.navigationbar .bottom-part .navigation-user-name-or-login .sign-in-btn:hover{
   background-color: var(--faint-green);
}


.navigationbar .bottom-part .navigation-user-name-or-login .sign-in-btn:active{
  transform: scale(0.9);
}



/* ------------------------Main Section (this is the section below the navigation page)-------------------------- */
.main{
  width: 100%;
  height: 88%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
}



/* ------------------------this is for the swiper section--------------------------- */

.slide-main-container{
  width: 100%;
  height: 45%;
  overflow: hidden;
}
.home-slider{
  width: 100%;
  height: 100%;
}
.home-slider img{
  width: 100%;
  height: auto;
  object-fit:contain;
}