@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --base-green: #03c04a;
  --faint-green: #03c04c5b;
  --base-white: ghostwhite;
  --base-black: #000000;
  --faint-black: #00000081;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --faded-gray: #EEEEEE;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--base-white);
}

#root {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--base-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* -----------------Navigation bar section--------------------------*/

.navigationbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  background-color: var(--base-black);
  box-shadow: 0 0 4px var(--box-shadow);
  color: var(--base-green);
}

.navigationbar .logo-div {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--base-green);
  font-size: 1.5rem;
  font-family: var(--font-family);
  font-weight: 500;
}

.navigationbar .logo-div .logo-icon-div {
  margin: 0 10px;
}

.navigationbar .logo-div .logo-name-div {
  margin: 0 10px;
  letter-spacing: 1px;
}

.navigationbar .navigationbar-link-section {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.navigationbar .navigationbar-link-section .link {
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.navigationbar .navigationbar-link-section .link:hover {
  background-color: var(--faint-green);
  border-radius: 5px;
}

.navigationbar .navigation-user-name-or-login {
  width: 20%;
  height: 100%;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigationbar .navigation-user-name-or-login .username-text {
  margin: 0 10px;
  padding-left: 5px;
  height: 50%;
  border-left: 1px solid var(--base-green);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: var(--base-green);
}

.navigationbar .navigation-user-name-or-login .profile-image {
  font-size: 1.5rem;
  color: var(--base-green);
}

.navigationbar .navigation-user-name-or-login .sign-in-btn {
  font-size: 1rem;
  padding: 10px 15px;
  background-color: var(--base-green);
  border-radius: 20px;
  border: none;
  transition: 0.5s;
}

.navigationbar .navigation-user-name-or-login .sign-in-btn:hover {
  background-color: var(--faint-green);
}

.navigationbar .navigation-user-name-or-login .sign-in-btn:active {
  transform: scale(0.9);
}

/* ------------------------Main Section (this is the section below the navigation page)-------------------------- */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

/* ------------------------this is for the swiper section--------------------------- */

.slide-main-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.home-slider {
  width: 100%;
  height: 100%;
}
.home-slider img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* -----------------main page catergory filter section--------------------------- */
.category-filter-section {
  width: 100%;
  height: 100px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-filters-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-filter {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catergory-icon {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--base-green);
  font-size: 1.5rem;
  border-radius: 50%;
  border: 1px solid black;
  margin-bottom: 5px;
  background-color: var(--base-white);
  transition: 0.3s;
}

.catergory-icon:hover {
  background-color: var(--faint-green);
  color: var(--base-black);
}

.catergory-icon:active {
  transform: scale(0.9);
}

.category-name {
  border: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 500;
  background-color: var(--base-white);
}

/* --------the main mini pages container----------------- */
.mini-page-container{
  width: 100%;
  height: auto;
  display: flex;
  align-items:center;
  justify-content: center;
  padding-top: 20px;
}

/* -----------------the all products catergory page */
.row.all-category-container{
  width: 100%;
  margin: 0;
}

.all-product-category-card{
  height: 300px;
  width: 300px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--faded-gray);
  border-radius: 5px;
}

.all-multi-image-container{
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.all-images-div{
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.all-img-sec{
  width: 40%;
  height: 100%;
  background-color: ghostwhite;
  overflow: hidden;
}

.all-title{
  width: 70%;
  padding: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--base-white);
}


